body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1920px;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 5.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgb(35, 37, 39);
}

.flex-container > a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.625rem;
    font-weight: bold;
    margin: 0.8rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.flex-container > a:hover {
    color: crimson;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 4em;
    padding-top: 0.8rem;
    padding-right: 40%;

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
}

.main-photo {
    width: 100%;
    height: auto;
}

.main-photo:hover {
    filter: brightness(30%);
}

.image-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    white-space: nowrap; /* Spriječava prelazak teksta u novi red */
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.9s ease-in-out;
}

.image-container:hover .image-caption {
    opacity: 1;
}

#aboutus {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: -4px;
    padding: 3rem;
    background-color:rgb(111, 128, 144, 0.2)
}

.aboutus-photo {
    max-width: 100%;
    height: auto;
}

.aboutus-content {
    flex: 1; /* Omogućava da se tekst rasteže i zauzima preostali prostor */
    padding-left: 2rem; /* Dodajte padding po potrebi za razmak između slike i teksta */
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 1rem;
    color: rgb(35, 37, 39);
}

.aboutus-txt {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.7em;
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: rgb(35, 37, 39);
    margin-top: -4px;
    margin-bottom: 0;
}

.box-item {
    text-align: center; /* Align text in the center */
  }

.box1, .box2, .box3 {
    border: 2px solid darkgrey;
    width: 320px;
    height: 214px;
}

.box {
    height: 100%;
    width: 100%;
}

.text1, .text2, .text3 {
    color: antiquewhite;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    background-color: rgb(35, 37, 39);
}

.projects-headline {
    color: antiquewhite;
    margin-top: -550px;
}

.projects-headline:hover {
    background-color: rgb(107, 43, 43);
    width: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
}

.box-item-projects {
    text-align: center; /* Align text in the center */
  }

.box1-projects, .box2-projects, .box3-projects {
    border: 2px solid darkgrey;
    width: 320px;
    height: 214px;
}

.box-projects {
    height: 100%;
    width: 100%;
}

.text1-projects, .text2-projects, .text3-projects {
    color: antiquewhite;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 540px;
}

.contact-headline {
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.contact-headline:hover {
    color: crimson;
    font-weight: 900;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }

label {
    display: block;
    margin-bottom: 8px;
  }

#name, #email {
    display: block;
    margin-bottom: 8px;
    width: 45%;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

textarea {
    resize: vertical;
  }

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

footer {
    background-color: rgb(111, 128, 144, 0.2);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.footer-link {
    text-decoration: none;
    font-weight: 900;
    color: rgb(35, 37, 39);
}

.footer-link:hover {
    color: crimson;
}

/* Stilizacija hamburger ikone */
.menu-icon {
    display: none; /* Po defaultu skrijete ikonu na većim ekranima */
    cursor: pointer;
    font-size: 1.625rem;
    color: whitesmoke;
    margin-right: 1rem; /* Prilagodite razmak prema vašem dizajnu */
 }
 
 /* Stilizacija za manje ekrane */
 @media only screen and (max-width: 600px) {
.flex-container {
       flex-direction: column;
       align-items: center; /* Centrira sve elemente */
    }
 
.menu-icon {
       display: block; /* Prikazuje ikonu na manjim ekranima */
    }

#aboutus {
        flex-direction: column;
        padding: 1.5rem; /* Prilagodite padding prema potrebi za manje uređaje */
     }
  
.aboutus-content {
        padding-left: 0; /* Uklonite padding s lijeve strane za manje uređaje */
     }

.aboutus-photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem; /* Dodajte razmak ispod slike na manjim ekranima */
  }

 h1 {
    font-size: 1.5em; /* Prilagodite veličinu fonta prema potrebi */
    margin-top: 0.5rem; /* Prilagodite razmak između h1 i teksta */
    text-align: center;
  }

 .aboutus-txt {
    font-size: 0.85em; /* Prilagodite veličinu fonta prema potrebi */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.4em; /* Prilagodite razmak između redova prema potrebi */
  }

 .box-container {
       flex-direction: column; /* Postavi elemente jedan ispod drugog na manjim ekranima */
       height: auto; /* Automatsko prilagođavanje visine */
  }
 
 .box-item {
       margin-top: 0; /* Ukloni negativan margin na manjim ekranima */
       margin-bottom: 20px; /* Dodaj razmak ispod svakog box-item-a */
  }
 
 .box1, .box2, .box3 {
       width: 100%; /* Puna širina na manjim ekranima */
       margin-bottom: 20px; /* Dodaj razmak ispod svake slike */
  }
 
 .projects-container {
    align-items: flex-start;
    flex-direction: column; /* Postavi elemente jedan ispod drugog na manjim ekranima */
    height: auto; /* Automatsko prilagođavanje visine */
    padding: 20px; /* Prilagodi padding prema potrebi za manje uređaje */
    margin-top: 0; /* Ukloni negativan margin na manjim ekranima */
    text-align: center;
 }

 .projects-headline {
    margin-top: 10px; /* Prilagodi margine prema potrebi za manje uređaje */
    order: -1;
    margin: auto;
 }

 .box-item-projects {
    order: 0; /* Resetirajte redoslijed elemenata */
 }

 .box1-projects, .box2-projects, .box3-projects {
    width: 100%; /* Puna širina na manjim ekranima */
    margin-bottom: 20px; /* Dodaj razmak ispod svake slike */
 }

 .contact-container {
    height: auto;
  }

  form {
    width: 80%; /* Prilagodite željenu širinu */
  }

  #name, #email {
    width: 100%; /* Širina 100% za pojedinačna polja */
  }

  footer {
    height: 5rem; /* Postavite željenu visinu za mobilne uređaje */
  }

  .footer-caption {
    font-size: 0.8rem;
    text-align: center; /* Centriraj tekst horizontalno */
    line-height: 10px;
  }
}
 
    /* Dodajte ostale stilove ili prilagodbe prema potrebi */
 .flex-container.show-menu {
        flex-direction: column;
        background-color: rgb(35, 37, 39); /* Prilagodite boju pozadine prema vašem dizajnu */
        text-align: center;
  }
     
 .flex-container.show-menu a {
        margin: 1rem;
        color: whitesmoke;
  }
